<p id="notice"><%= notice %></p>


<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
<h1>Listing Providers</h1>

<%= link_to 'New Provider', new_provider_path %>
<br>

<table>
  <thead>
    <tr>
      <th>Nombre abreviado</th>
      <th>Web</th>
      <th>Afiliados fonasa</th>
      <th>Afiliados</th>
      <th>Realiza recordatorio cita</th>
      <th>Realiza caida reserva sin confirmacion</th>
      <th>Comunicacion usuario suspension modificacion</th>
      <th>Private insurance</th>
      <th>Vias asignacion citas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.nombre_abreviado %></td>
        <td><%= provider.web %></td>
        <td><%= provider.afiliados_fonasa %></td>
        <td><%= provider.afiliados %></td>
        <td><%= provider.realiza_recordatorio_cita %></td>
        <td><%= provider.realiza_caida_reserva_sin_confirmacion %></td>
        <td><%= provider.comunicacion_usuario_suspension_modificacion %></td>
        <td><%= provider.private_insurance %></td>
        <td><%= provider.vias_asignacion_citas %></td>
        <td><%= link_to 'Show', provider %></td>
        <td><%= link_to 'Edit', edit_provider_path(provider) %></td>
        <td><%= link_to 'Destroy', provider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @providers %>