<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre abreviado:</strong>
  <%= @provider.nombre_abreviado %>
</p>

<p>
  <strong>Nombre completo:</strong>
  <%= @provider.nombre_completo %>
</p>

<p>
  <strong>Web:</strong>
  <%= @provider.web %>
</p>

<p>
  <strong>Afiliados fonasa:</strong>
  <%= @provider.afiliados_fonasa %>
</p>

<p>
  <strong>Afiliados:</strong>
  <%= @provider.afiliados %>
</p>

<p>
  <strong>Comunicacion:</strong>
  <%= @provider.comunicacion %>
</p>

<p>
  <strong>Captacion rn:</strong>
  <%= @provider.captacion_rn %>
</p>

<p>
  <strong>Control desarrollo:</strong>
  <%= @provider.control_desarrollo %>
</p>

<p>
  <strong>Control embarazo:</strong>
  <%= @provider.control_embarazo %>
</p>

<p>
  <strong>Control hiv vdrl:</strong>
  <%= @provider.control_hiv_vdrl %>
</p>

<p>
  <strong>Control pauta 45 64:</strong>
  <%= @provider.control_pauta_45_64 %>
</p>

<p>
  <strong>Indice cesareas:</strong>
  <%= @provider.indice_cesareas %>
</p>

<p>
  <strong>Ticket de medicamentos general fonasa:</strong>
  <%= @provider.ticket_de_medicamentos_general_fonasa %>
</p>

<p>
  <strong>Ticket de medicamentos general no fonasa:</strong>
  <%= @provider.ticket_de_medicamentos_general_no_fonasa %>
</p>

<p>
  <strong>Ticket de medicamentos topeados fonasa:</strong>
  <%= @provider.ticket_de_medicamentos_topeados_fonasa %>
</p>

<p>
  <strong>Ticket de medicamentos topeados no fonasa:</strong>
  <%= @provider.ticket_de_medicamentos_topeados_no_fonasa %>
</p>

<p>
  <strong>Consulta medicina general fonasa:</strong>
  <%= @provider.consulta_medicina_general_fonasa %>
</p>

<p>
  <strong>Consulta medicina general no fonasa:</strong>
  <%= @provider.consulta_medicina_general_no_fonasa %>
</p>

<p>
  <strong>Consulta pediatria fonasa:</strong>
  <%= @provider.consulta_pediatria_fonasa %>
</p>

<p>
  <strong>Consulta pediatria no fonasa:</strong>
  <%= @provider.consulta_pediatria_no_fonasa %>
</p>

<p>
  <strong>Consulta control de embarazo fonasa:</strong>
  <%= @provider.consulta_control_de_embarazo_fonasa %>
</p>

<p>
  <strong>Consulta control de embarazo no fonasa:</strong>
  <%= @provider.consulta_control_de_embarazo_no_fonasa %>
</p>

<p>
  <strong>Consulta ginecologia fonasa:</strong>
  <%= @provider.consulta_ginecologia_fonasa %>
</p>

<p>
  <strong>Consulta ginecologia no fonasa:</strong>
  <%= @provider.consulta_ginecologia_no_fonasa %>
</p>

<p>
  <strong>Consulta otras especialidades fonasa:</strong>
  <%= @provider.consulta_otras_especialidades_fonasa %>
</p>

<p>
  <strong>Consulta otras especialidades no fonasa:</strong>
  <%= @provider.consulta_otras_especialidades_no_fonasa %>
</p>

<p>
  <strong>Consulta urgencia centralizada fonasa:</strong>
  <%= @provider.consulta_urgencia_centralizada_fonasa %>
</p>

<p>
  <strong>Consulta urgencia centralizada no fonasa:</strong>
  <%= @provider.consulta_urgencia_centralizada_no_fonasa %>
</p>

<p>
  <strong>Consulta no urgencia domicilio fonasa:</strong>
  <%= @provider.consulta_no_urgencia_domicilio_fonasa %>
</p>

<p>
  <strong>Consulta no urgencia domicilio no fonasa:</strong>
  <%= @provider.consulta_no_urgencia_domicilio_no_fonasa %>
</p>

<p>
  <strong>Consulta urgencia domicilio fonasa:</strong>
  <%= @provider.consulta_urgencia_domicilio_fonasa %>
</p>

<p>
  <strong>Consulta urgencia domicilio no fonasa:</strong>
  <%= @provider.consulta_urgencia_domicilio_no_fonasa %>
</p>

<p>
  <strong>Consulta odontologica fonasa:</strong>
  <%= @provider.consulta_odontologica_fonasa %>
</p>

<p>
  <strong>Consulta odontologica no fonasa:</strong>
  <%= @provider.consulta_odontologica_no_fonasa %>
</p>

<p>
  <strong>Consulta medico de referencia fonasa:</strong>
  <%= @provider.consulta_medico_de_referencia_fonasa %>
</p>

<p>
  <strong>Consulta medico de referencia no fonasa:</strong>
  <%= @provider.consulta_medico_de_referencia_no_fonasa %>
</p>

<p>
  <strong>Endoscopia digestiva endoscopia fonasa:</strong>
  <%= @provider.endoscopia_digestiva_endoscopia_fonasa %>
</p>

<p>
  <strong>Endoscopia digestiva endoscopia no fonasa:</strong>
  <%= @provider.endoscopia_digestiva_endoscopia_no_fonasa %>
</p>

<p>
  <strong>Ecografia simple fonasa:</strong>
  <%= @provider.ecografia_simple_fonasa %>
</p>

<p>
  <strong>Ecografia simple no fonasa:</strong>
  <%= @provider.ecografia_simple_no_fonasa %>
</p>

<p>
  <strong>Ecodoppler fonasa:</strong>
  <%= @provider.ecodoppler_fonasa %>
</p>

<p>
  <strong>Ecodoppler no fonasa:</strong>
  <%= @provider.ecodoppler_no_fonasa %>
</p>

<p>
  <strong>Rx simple fonasa:</strong>
  <%= @provider.rx_simple_fonasa %>
</p>

<p>
  <strong>Rx simple no fonasa:</strong>
  <%= @provider.rx_simple_no_fonasa %>
</p>

<p>
  <strong>Rx torax fonasa:</strong>
  <%= @provider.rx_torax_fonasa %>
</p>

<p>
  <strong>Rx torax no fonasa:</strong>
  <%= @provider.rx_torax_no_fonasa %>
</p>

<p>
  <strong>Rx colorectal fonasa:</strong>
  <%= @provider.rx_colorectal_fonasa %>
</p>

<p>
  <strong>Rx colorectal no fonasa:</strong>
  <%= @provider.rx_colorectal_no_fonasa %>
</p>

<p>
  <strong>Resonancia fonasa:</strong>
  <%= @provider.resonancia_fonasa %>
</p>

<p>
  <strong>Resonancia no fonasa:</strong>
  <%= @provider.resonancia_no_fonasa %>
</p>

<p>
  <strong>Tomografia fonasa:</strong>
  <%= @provider.tomografia_fonasa %>
</p>

<p>
  <strong>Tomografia no fonasa:</strong>
  <%= @provider.tomografia_no_fonasa %>
</p>

<p>
  <strong>Laboratorio rutina basica fonasa:</strong>
  <%= @provider.laboratorio_rutina_basica_fonasa %>
</p>

<p>
  <strong>Laboratorio rutina basica no fonasa:</strong>
  <%= @provider.laboratorio_rutina_basica_no_fonasa %>
</p>

<p>
  <strong>Tiempo espera medicina general:</strong>
  <%= @provider.tiempo_espera_medicina_general %>
</p>

<p>
  <strong>Tiempo espera pediatria:</strong>
  <%= @provider.tiempo_espera_pediatria %>
</p>

<p>
  <strong>Tiempo espera cirugia general:</strong>
  <%= @provider.tiempo_espera_cirugia_general %>
</p>

<p>
  <strong>Tiempo espera ginecotocologia:</strong>
  <%= @provider.tiempo_espera_ginecotocologia %>
</p>

<p>
  <strong>Tiempo espera cardiologia:</strong>
  <%= @provider.tiempo_espera_cardiologia %>
</p>

<p>
  <strong>Conformidad disponibilidad agenda 2014:</strong>
  <%= @provider.conformidad_disponibilidad_agenda_2014 %>
</p>

<p>
  <strong>Conformidad disponibilidad agenda 2010:</strong>
  <%= @provider.conformidad_disponibilidad_agenda_2010 %>
</p>

<p>
  <strong>Evaluacion tiempo espera sala 2014:</strong>
  <%= @provider.evaluacion_tiempo_espera_sala_2014 %>
</p>

<p>
  <strong>Evaluacion tiempo espera sala 2010:</strong>
  <%= @provider.evaluacion_tiempo_espera_sala_2010 %>
</p>

<p>
  <strong>Facilidad para realizar tramites gestiones 2014:</strong>
  <%= @provider.facilidad_para_realizar_tramites_gestiones_2014 %>
</p>

<p>
  <strong>Facilidad para realizar tramites gestiones 2010:</strong>
  <%= @provider.facilidad_para_realizar_tramites_gestiones_2010 %>
</p>

<p>
  <strong>Disponibilidad medicamentos farmacia 2014:</strong>
  <%= @provider.disponibilidad_medicamentos_farmacia_2014 %>
</p>

<p>
  <strong>Disponibilidad medicamentos farmacia 2010:</strong>
  <%= @provider.disponibilidad_medicamentos_farmacia_2010 %>
</p>

<p>
  <strong>Informacion sobre derechos 2014:</strong>
  <%= @provider.informacion_sobre_derechos_2014 %>
</p>

<p>
  <strong>Informacion sobre derechos 2010:</strong>
  <%= @provider.informacion_sobre_derechos_2010 %>
</p>

<p>
  <strong>Queja sugerencia sabe donde dirigirse 2014:</strong>
  <%= @provider.queja_sugerencia_sabe_donde_dirigirse_2014 %>
</p>

<p>
  <strong>Queja sugerencia sabe donde dirigirse 2010:</strong>
  <%= @provider.queja_sugerencia_sabe_donde_dirigirse_2010 %>
</p>

<p>
  <strong>Satisfaccion primer nivel atencion 2014:</strong>
  <%= @provider.satisfaccion_primer_nivel_atencion_2014 %>
</p>

<p>
  <strong>Satisfaccion primer nivel atencion 2010:</strong>
  <%= @provider.satisfaccion_primer_nivel_atencion_2010 %>
</p>

<p>
  <strong>Satisfaccion internacion hospitalaria 2012:</strong>
  <%= @provider.satisfaccion_internacion_hospitalaria_2012 %>
</p>

<p>
  <strong>Medicos generales policlinica:</strong>
  <%= @provider.medicos_generales_policlinica %>
</p>

<p>
  <strong>Medicos de familia policlinica:</strong>
  <%= @provider.medicos_de_familia_policlinica %>
</p>

<p>
  <strong>Medicos pediatras policlinica:</strong>
  <%= @provider.medicos_pediatras_policlinica %>
</p>

<p>
  <strong>Medicos ginecologos policlinica:</strong>
  <%= @provider.medicos_ginecologos_policlinica %>
</p>

<p>
  <strong>Auxiliares enfermeria policlinica:</strong>
  <%= @provider.auxiliares_enfermeria_policlinica %>
</p>

<p>
  <strong>Licenciadas enfermeria policlinica:</strong>
  <%= @provider.licenciadas_enfermeria_policlinica %>
</p>

<p>
  <strong>Cantidad cad:</strong>
  <%= @provider.cantidad_cad %>
</p>

<p>
  <strong>Medicina general cantidad cad:</strong>
  <%= @provider.medicina_general_cantidad_cad %>
</p>

<p>
  <strong>Medicina familiar cantidad cad:</strong>
  <%= @provider.medicina_familiar_cantidad_cad %>
</p>

<p>
  <strong>Pediatria cantidad cad:</strong>
  <%= @provider.pediatria_cantidad_cad %>
</p>

<p>
  <strong>Ginecotologia cantidad cad:</strong>
  <%= @provider.ginecotologia_cantidad_cad %>
</p>

<p>
  <strong>Medicina interna cantidad cad:</strong>
  <%= @provider.medicina_interna_cantidad_cad %>
</p>

<p>
  <strong>Medicina intensiva adultos cantidad cad:</strong>
  <%= @provider.medicina_intensiva_adultos_cantidad_cad %>
</p>

<p>
  <strong>Medicina intensiva pediatrica cantidad cad:</strong>
  <%= @provider.medicina_intensiva_pediatrica_cantidad_cad %>
</p>

<p>
  <strong>Neonatologia cantidad cad:</strong>
  <%= @provider.neonatologia_cantidad_cad %>
</p>

<p>
  <strong>Cantidad cad psiquiatria adultos:</strong>
  <%= @provider.cantidad_cad_psiquiatria_adultos %>
</p>

<p>
  <strong>Cantidad cad psiquiatria pediatrica:</strong>
  <%= @provider.cantidad_cad_psiquiatria_pediatrica %>
</p>

<p>
  <strong>Especialidades medicas cantidad cad:</strong>
  <%= @provider.especialidades_medicas_cantidad_cad %>
</p>

<p>
  <strong>Cirugia general cantidad cad:</strong>
  <%= @provider.cirugia_general_cantidad_cad %>
</p>

<p>
  <strong>Medicina emergencia cantidad cad:</strong>
  <%= @provider.medicina_emergencia_cantidad_cad %>
</p>

<p>
  <strong>Reserva presencial:</strong>
  <%= @provider.reserva_presencial %>
</p>

<p>
  <strong>Reserva telefonica:</strong>
  <%= @provider.reserva_telefonica %>
</p>

<p>
  <strong>Reserva web:</strong>
  <%= @provider.reserva_web %>
</p>

<p>
  <strong>Reserva consulta medica:</strong>
  <%= @provider.reserva_consulta_medica %>
</p>

<p>
  <strong>Realiza recordatorio cita:</strong>
  <%= @provider.realiza_recordatorio_cita %>
</p>

<p>
  <strong>Realiza caida reserva sin confirmacion:</strong>
  <%= @provider.realiza_caida_reserva_sin_confirmacion %>
</p>

<p>
  <strong>Comunicacion usuario suspension modificacion:</strong>
  <%= @provider.comunicacion_usuario_suspension_modificacion %>
</p>

<p>
  <strong>Private insurance:</strong>
  <%= @provider.private_insurance %>
</p>

<p>
  <strong>Estructura primaria:</strong>
  <%= @provider.estructura_primaria %>
</p>

<p>
  <strong>Estructura secundaria:</strong>
  <%= @provider.estructura_secundaria %>
</p>

<p>
  <strong>Estructura ambulatorio:</strong>
  <%= @provider.estructura_ambulatorio %>
</p>

<p>
  <strong>Estructura urgencia:</strong>
  <%= @provider.estructura_urgencia %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @provider.logo %>
</p>

<p>
  <strong>Search name:</strong>
  <%= @provider.search_name %>
</p>

<p>
  <strong>Vias asignacion citas:</strong>
  <%= @provider.vias_asignacion_citas %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
