<p id="notice"><%= notice %></p>

<h1>Listing Sites</h1>

<%= link_to 'New Site', new_site_path %>
<br>

<table>
  <thead>
    <tr>
      <th>Direccion</th>
      <th>Departamento</th>
      <th>Localidad</th>
      <th>Nivel</th>
      <th>Servicio de urgencia</th>
      <th>Alergista</th>
      <th>Anestesiologia</th>
      <th>Cardiologia</th>
      <th>Cirugia</th>
      <th>Cirugia reparadora</th>
      <th>Cirugia vascular</th>
      <th>Deportologia</th>
      <th>Dermatologia</th>
      <th>Endocrinolgia</th>
      <th>Fisiatria</th>
      <th>Gastroenterologia</th>
      <th>Geriatria</th>
      <th>Ginecologia</th>
      <th>Hematologia</th>
      <th>Infectologia</th>
      <th>Medicina general</th>
      <th>Medicina interna</th>
      <th>Medicina intensiva</th>
      <th>Nefrologia</th>
      <th>Neonatologia</th>
      <th>Neumologia</th>
      <th>Neurocirugia</th>
      <th>Neurologia</th>
      <th>Neuropediatria</th>
      <th>Odontologia</th>
      <th>Oncologia</th>
      <th>Otorrinolaringologia</th>
      <th>Pediatria</th>
      <th>Psiquiatria</th>
      <th>Psiquiatria infantil</th>
      <th>Reumatologia</th>
      <th>Traumatologia</th>
      <th>Urologia</th>
      <th>State</th>
      <th>Provider</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= site.direccion %></td>
        <td><%= site.departamento %></td>
        <td><%= site.localidad %></td>
        <td><%= site.nivel %></td>
        <td><%= site.servicio_de_urgencia %></td>
        <td><%= site.alergista %></td>
        <td><%= site.anestesiologia %></td>
        <td><%= site.cardiologia %></td>
        <td><%= site.cirugia %></td>
        <td><%= site.cirugia_reparadora %></td>
        <td><%= site.cirugia_vascular %></td>
        <td><%= site.deportologia %></td>
        <td><%= site.dermatologia %></td>
        <td><%= site.endocrinolgia %></td>
        <td><%= site.fisiatria %></td>
        <td><%= site.gastroenterologia %></td>
        <td><%= site.geriatria %></td>
        <td><%= site.ginecologia %></td>
        <td><%= site.hematologia %></td>
        <td><%= site.infectologia %></td>
        <td><%= site.medicina_general %></td>
        <td><%= site.medicina_interna %></td>
        <td><%= site.medicina_intensiva %></td>
        <td><%= site.nefrologia %></td>
        <td><%= site.neonatologia %></td>
        <td><%= site.neumologia %></td>
        <td><%= site.neurocirugia %></td>
        <td><%= site.neurologia %></td>
        <td><%= site.neuropediatria %></td>
        <td><%= site.odontologia %></td>
        <td><%= site.oncologia %></td>
        <td><%= site.otorrinolaringologia %></td>
        <td><%= site.pediatria %></td>
        <td><%= site.psiquiatria %></td>
        <td><%= site.psiquiatria_infantil %></td>
        <td><%= site.reumatologia %></td>
        <td><%= site.traumatologia %></td>
        <td><%= site.urologia %></td>
        <td><%= site.state_id %></td>
        <td><%= site.provider_id %></td>
        <td><%= site.created_at %></td>
        <td><%= site.updated_at %></td>
        <td><%= link_to 'Show', site %></td>
        <td><%= link_to 'Edit', edit_site_path(site) %></td>
        <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @sites %>