<p id="notice"><%= notice %></p>

<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
<h1>Listing Sites</h1>

<%= link_to 'New Site', new_site_path %>
<br>

<table>
  <thead>
    <tr>
      <th>Direccion</th>
      <th>Departamento</th>
      <th>Localidad</th>
      <th>Nivel</th>
      <th>State</th>
      <th>Provider</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= site.direccion %></td>
        <td><%= site.departamento %></td>
        <td><%= site.localidad %></td>
        <td><%= site.nivel %></td>
        <td><%= site.state_id %></td>
        <td><%= site.provider_id %></td>
        <td><%= site.created_at %></td>
        <td><%= site.updated_at %></td>
        <td><%= link_to 'Show', site %></td>
        <td><%= link_to 'Edit', edit_site_path(site) %></td>
        <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @sites %>