<p id="notice"><%= notice %></p>

<p>
  <strong>Direccion:</strong>
  <%= @site.direccion %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @site.departamento %>
</p>

<p>
  <strong>Localidad:</strong>
  <%= @site.localidad %>
</p>

<p>
  <strong>Nivel:</strong>
  <%= @site.nivel %>
</p>

<p>
  <strong>Servicio de urgencia:</strong>
  <%= @site.servicio_de_urgencia %>
</p>

<p>
  <strong>Alergista:</strong>
  <%= @site.alergista %>
</p>

<p>
  <strong>Anestesiologia:</strong>
  <%= @site.anestesiologia %>
</p>

<p>
  <strong>Cardiologia:</strong>
  <%= @site.cardiologia %>
</p>

<p>
  <strong>Cirugia:</strong>
  <%= @site.cirugia %>
</p>

<p>
  <strong>Cirugia reparadora:</strong>
  <%= @site.cirugia_reparadora %>
</p>

<p>
  <strong>Cirugia vascular:</strong>
  <%= @site.cirugia_vascular %>
</p>

<p>
  <strong>Deportologia:</strong>
  <%= @site.deportologia %>
</p>

<p>
  <strong>Dermatologia:</strong>
  <%= @site.dermatologia %>
</p>

<p>
  <strong>Endocrinolgia:</strong>
  <%= @site.endocrinolgia %>
</p>

<p>
  <strong>Fisiatria:</strong>
  <%= @site.fisiatria %>
</p>

<p>
  <strong>Gastroenterologia:</strong>
  <%= @site.gastroenterologia %>
</p>

<p>
  <strong>Geriatria:</strong>
  <%= @site.geriatria %>
</p>

<p>
  <strong>Ginecologia:</strong>
  <%= @site.ginecologia %>
</p>

<p>
  <strong>Hematologia:</strong>
  <%= @site.hematologia %>
</p>

<p>
  <strong>Infectologia:</strong>
  <%= @site.infectologia %>
</p>

<p>
  <strong>Medicina general:</strong>
  <%= @site.medicina_general %>
</p>

<p>
  <strong>Medicina interna:</strong>
  <%= @site.medicina_interna %>
</p>

<p>
  <strong>Medicina intensiva:</strong>
  <%= @site.medicina_intensiva %>
</p>

<p>
  <strong>Nefrologia:</strong>
  <%= @site.nefrologia %>
</p>

<p>
  <strong>Neonatologia:</strong>
  <%= @site.neonatologia %>
</p>

<p>
  <strong>Neumologia:</strong>
  <%= @site.neumologia %>
</p>

<p>
  <strong>Neurocirugia:</strong>
  <%= @site.neurocirugia %>
</p>

<p>
  <strong>Neurologia:</strong>
  <%= @site.neurologia %>
</p>

<p>
  <strong>Neuropediatria:</strong>
  <%= @site.neuropediatria %>
</p>

<p>
  <strong>Odontologia:</strong>
  <%= @site.odontologia %>
</p>

<p>
  <strong>Oncologia:</strong>
  <%= @site.oncologia %>
</p>

<p>
  <strong>Otorrinolaringologia:</strong>
  <%= @site.otorrinolaringologia %>
</p>

<p>
  <strong>Pediatria:</strong>
  <%= @site.pediatria %>
</p>

<p>
  <strong>Psiquiatria:</strong>
  <%= @site.psiquiatria %>
</p>

<p>
  <strong>Psiquiatria infantil:</strong>
  <%= @site.psiquiatria_infantil %>
</p>

<p>
  <strong>Reumatologia:</strong>
  <%= @site.reumatologia %>
</p>

<p>
  <strong>Traumatologia:</strong>
  <%= @site.traumatologia %>
</p>

<p>
  <strong>Urologia:</strong>
  <%= @site.urologia %>
</p>

<p>
  <strong>State:</strong>
  <%= @site.state_id %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @site.provider_id %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @site.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @site.updated_at %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
